.image{
    border-radius: 100px;
    height: auto;
    width: 300px;
}
.container{
    width: 90%;
    height: 500px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.178);

}
.detailSection{
    width: 50%;
    height: 500px;
    display:flex;
    flex-direction:column;
    font-size: 90px; 
    align-items: center;
    justify-content: center;
}
.imageSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
}
.h2{
    font-size: 25px;
}