/* Contenedor negro */
.container{
  
    display: flex;
    /* COlor de fondo */
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100%;
    /* Centra el contenedor */
    align-items: center;
    /* Centra el contenedor */
    justify-content: space-around;
  }
  .imagen{
    height: 90;
    width: 100px;
    border-radius: 0px;
  }
  .button{
    padding: 15px 20px;
    /* color de fondo */
    background-color: #d8c534;
    /* color de las letras */
    color: black;
    /* quitar borde */
    border:none;
    /* borde redondeado */
     border-radius: 8px;
    
}
.button:hover{
  background-color: #b9a92f;
}