.container {
  background-color: rgba(255, 255, 255, 0.658);
  width: 250px;
  border-radius: 20px;

  }
.img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}
.detail{
  color: black;
  cursor: pointer;
}
.detail:hover {
  background-color: #e0d44c;
}
a{
  text-decoration: none;
}