.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    /* Alinea de  forma vertical */
    justify-content:flex-start;
    /* Alinea horizontal */
    align-items: center;
    height: 500px;
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 90px;
}
.form{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
.arriba{
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
}
.inputForm{
    color:rgb(0, 0, 0);
}
.warning{
    color:red;
}
.seleccionMultiple{
    height: 300px;
}
.primero{
    width: 200px;
    height: 250px;
    /* margin-top: 30px; */
    /* background-color: aqua; */
}
.segundo{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 300px;
    height: 300px;
    /* background-color: #d8c534; */
}
.button{
    padding: 15px 20px;
    /* color de fondo */
    background-color: #d8c534;
    /* color de las letras */
    color: rgb(54, 54, 54);
    /* quitar borde */
    border:none;
    /* borde redondeado */
    border-radius: 8px;
    font-weight: 550;
    /* font-size: 17px; */
    margin-top: 7px;
    
}
.aclaraciones{
    font-size: 13px;
}
.ultimaSeccion{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* background-color: aqua; */
    margin-right: 50px;
}